{% extends 'base.html' %}

{% block 'content' %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_4.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2">
                    <span class="mr-2"><a href="index.html">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>О нас <i class="ion-ios-arrow-forward"></i></span>
                </p>
                <h1 class="mb-0 bread">О компании</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end"
                     style="background-image:url(static/images/about_picture_web-min.jpg);">
                </div>
            </div>
            <div class="col-md-6 pl-md-5">
                <div class="row justify-content-start py-5">
                    <div class="col-md-12 heading-section ftco-animate pl-md-4 py-md-4">
                        <h2 class="mb-4">Компания «Особняк»</h2>
                        <p>Эксперт в области частного малоэтажного строительства. С 2017 года мы занимаемся
                            проектированием и строительством домов постоянного (круглогодичного) и сезонного проживания,
                            а также нежилых зданий и сооружений различного назначения: бани, крытые и открытые террасы,
                            бассейны, хозяйственные постройки, гаражи, беседки.<br/> <br/>Мы ценим Ваше время и
                            предлагаем для Вашего комфорта весь спектр услуг, от проектирования до сдачи объекта «под
                            ключ» и оформления прав на недвижимое имущество.<br/> <br/>
                            Строим из дерева, по традиционным и современным технологиям: ручная рубка домов из брёвен (в
                            чашу, в лапу, в крюк; канадская рубка, лафет), строительство из профилированного бруса (с
                            остатком, в 4хсторонний ветрозащитный замок; рубка в «тёплый угол»), строительство каркасных
                            и щитовых домов.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
