{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block 'content' %}

{% regroup items by category as category_list %}
{% for category, item_list in category_list %}
<div id="{{category.slug}}">
    {% for item in item_list %}
    <section class="ftco-section ftco-no-pb ftco-no-pt mt-5 mb-5 catalog">
        <div class="container">
            <div class="row catalog-item">
                <div class="col-lg-6 col-md-12 catalog-item-photo">
                    <h2>{{ item.title|linebreaks }}</h2>
                    <img src="{{ item.images.all.0.image|thumbnail_url:'big' }}" class="i-big"
                         alt="">
                    {% if item.images.count > 1 %}
                    <ul class="i-preview">
                        {% for image in item.images.all %}
                        <li><img src="{{ image.image|thumbnail_url:'small' }}"
                                 data-big="{{ image.image|thumbnail_url:'big' }}"
                                 class="i-small"
                                 alt=""></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="price">Цена {{ item.price }} руб.</div>
                </div>

                <div class="col-lg-6 col-md-12 catalog-item-description">
                    <p>
                        {{ item.description|linebreaks }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
</div>
{% endfor %}

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-md-0">
        <h2 class='mt-5 dflex align-items-center justify-content-center text-center'>Примеры работ</h2>
        <div class="row no-gutters">
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-1.jpg);">
                    <a href="static/images/work-1.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>Баня МЖК 2этажа</span>
                            <h2><a href="work-single.html">Двухэтажная баня с жилыми помещениями круглогодичной
                                эксплуатации из профилированного бруса (кедр, толщина стены 160мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/bg_1.jpg);">
                    <a href="static/images/bg_1.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>Дом МСК обл</span>
                            <h2><a href="work-single.html">Одноэтажный жилой дом для постоянного круглогодичного
                                проживания из профилированного бруса (сосна, толщина стены 190мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-2.jpg);">
                    <a href="static/images/work-2.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>Пос. Близкий ДОМ 2 этажа</span>
                            <h2><a href="work-single.html">1ый этап строительства двухэтажного кирпичного жилого дома
                                постоянного проживания – фундамент.</a></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-5.jpg);">
                    <a href="static/images/work-5.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>Пос. Садовый ДОМ 1 этаж</span>
                            <h2><a href="work-single.html">Одноэтажный жилой дом для постоянного круглогодичного
                                проживания из профилированного бруса (сосна, толщина стены 190мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work_3-2.png);">
                    <a href="static/images/work_3-2.png"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>СНТ Обские Дали БАНЯ 2 этажа</span>
                            <h2><a href="work-single.html">Двухэтажная баня (второй этаж мансардный) из профилированного
                                бруса (кедр, толщина стены 140мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-6.jpg);">
                    <a href="static/images/work-6.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>СНТ Электрон ДОМ 2 этажа</span>
                            <h2><a href="work-single.html">Двухэтажный жилой дом для постоянного круглогодичного
                                проживания из профилированного бруса (сосна, толщина стены 190мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
