{% extends 'base.html' %}

{% block 'content' %}
<div class="hero-wrap">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(static/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Строительная компания «Особняк»</h1>
                            <h2>Все этапы частного малоэтажного строительства!
                                Строим дома «с нуля», под ключ.</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(static/images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Архитектурное проектирование</h1>
                            <h2>Проработка 3D макета экстерьера дома, привязка на местности, поэтажная планировка, схемы
                                инженерных сетей и коммуникаций. Чертежи, разрезы.</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

<!--
        <div class="slider-item" style="background-image:url(static/images/bg_3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Строительство</h1>
                            <h2>Монтаж фундамента, стен, крыши, перекрытий</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>
-->

        <div class="slider-item" style="background-image:url(static/images/bg_4.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Технологии строительства деревянных домов:</h1>
                            <h2>- каркасные;<br>
                                - брусовые / профилированный брус;<br>
                                - фахверк, тимбер фрейм;<br>
                                - рубка домов из брёвен (традиционная русская рубка домов в чашу, в лапу, в крюк.
                                Канадская, финская рубка, лафет)</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(static/images/bg_5.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Монтаж инженерных систем:</h1>
                            <h2>Водоснабжение<br>
                                Отопление<br>
                                Электроснабжение<br>
                                Вентиляция<br>
                                Канализация</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(static/images/bg_6.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Сжатые сроки. Гарантия качества</h1>
                            <h2>С момента заключения договора до заселения – от 3х до 6ти месяцев! (при применении
                                определенных технологий и непрерывном финансировании работ)<br>
                                Гарантия на все работы – 5 лет.</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

<!--
        <div class="slider-item" style="background-image:url(static/images/bg_7.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Мы - профессионалы</h1>
                            <h2>Мы простоим вам дом</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>
-->

    </div>
</div>
{% endblock %}
