{% extends 'base.html' %}

{% block 'content' %}


<style>
    .block {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 350px;
    }
    .block p {
        color: black;
        margin: 0;
        padding: 9px;
    }
    .block .header {
        font-size: 24px;
        line-height: 28px;
        font-weight: bold;
    }
    .block-back {
        background: rgba(255,255,255, 0.7);
        height: 100%;
    }
    iframe {
        max-width: 100%;
    }
</style>


<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block"
                     style="background-image:url(static/images/bg_1.jpg);">
                    <div class="block-back">
                        <p class="header">Строительная компания «Особняк»</p>
                        <p class="bt">Все этапы частного малоэтажного строительства!
                            Строим дома «с нуля», под ключ.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block"
                     style="background-image:url(static/images/bg_2.jpg);">
                    <div class="block-back">
                        <p class="header">Архитектурное проектирование</p>
                        <p class="bt">Проработка 3D макета экстерьера дома, привязка на местности,
                            поэтажная планировка, схемы
                            инженерных сетей и коммуникаций. Чертежи, разрезы.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block"
                     style="background-image:url(static/images/bg_3.jpg);">
                    <div class="block-back">
                        <p class="header">Технологии строительства деревянных домов:</p>
                        <p class="bt">
                            - каркасные;<br>
                            - брусовые / профилированный брус;<br>
                            - фахверк, тимбер фрейм;<br>
                            - рубка домов из брёвен (традиционная русская рубка домов в чашу, в
                            лапу, в крюк.
                            Канадская, финская рубка, лафет)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block"
                     style="background-image:url(static/images/bg_4.jpg);">
                    <div class="block-back">
                        <p class="header">Монтаж инженерных систем:</p>
                        <p class="bt">
                            - Водоснабжение<br>
                            - Отопление<br>
                            - Электроснабжение<br>
                            - Вентиляция<br>
                            - Канализация</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block"
                     style="background-image:url(static/images/bg_5.jpg);">
                    <div class="block-back">
                        <p class="header">Производство модульных строений</p>
                        <p class="bt">
                            - Бани-бочки<br>
                            - Домики для кемпинга<br>
                            - Беседки<br>
                            - Каркасные бытовые постройки<br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block"
                     style="background-image:url(static/images/bg_6.jpg);">
                    <div class="block-back">
                        <p class="header">Сжатые сроки. Гарантия качества</p>
                        <p class="bt">С момента заключения договора до заселения – от 3х до 6ти
                            месяцев! (при применении
                            определенных технологий и непрерывном финансировании работ)<br>
                            Гарантия на все работы – 5 лет.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %}
<div class="hero-wrap">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(static/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Строительная компания «Особняк»</h1>
                            <h2>Все этапы частного малоэтажного строительства!
                                Строим дома «с нуля», под ключ.</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(static/images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Архитектурное проектирование</h1>
                            <h2>Проработка 3D макета экстерьера дома, привязка на местности, поэтажная планировка, схемы
                                инженерных сетей и коммуникаций. Чертежи, разрезы.</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

<!--
        <div class="slider-item" style="background-image:url(static/images/bg_3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Строительство</h1>
                            <h2>Монтаж фундамента, стен, крыши, перекрытий</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>
-->

        <div class="slider-item" style="background-image:url(static/images/bg_4.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Технологии строительства деревянных домов:</h1>
                            <h2>- каркасные;<br>
                                - брусовые / профилированный брус;<br>
                                - фахверк, тимбер фрейм;<br>
                                - рубка домов из брёвен (традиционная русская рубка домов в чашу, в лапу, в крюк.
                                Канадская, финская рубка, лафет)</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(static/images/bg_5.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Монтаж инженерных систем:</h1>
                            <h2>Водоснабжение<br>
                                Отопление<br>
                                Электроснабжение<br>
                                Вентиляция<br>
                                Канализация</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(static/images/bg_6.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Сжатые сроки. Гарантия качества</h1>
                            <h2>С момента заключения договора до заселения – от 3х до 6ти месяцев! (при применении
                                определенных технологий и непрерывном финансировании работ)<br>
                                Гарантия на все работы – 5 лет.</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>

<!--
        <div class="slider-item" style="background-image:url(static/images/bg_7.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 text-center">
                            <h1 class="mb-3">Мы - профессионалы</h1>
                            <h2>Мы простоим вам дом</h2>
                        </div>
                    </div>

                    <div class="catalog-link">
                        <a href="/catalog" class="btn">Каталог</a>
                    </div>
                </div>
            </div>
        </div>
-->

    </div>
</div>
{% endcomment %}

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end"
                     style="background-image:url(static/images/about_picture_web-min.jpg);">
                </div>
            </div>
            <div class="col-md-6 pl-md-5">
                <div class="row justify-content-start py-5">
                    <div class="col-md-12 heading-section ftco-animate pl-md-4 py-md-4">
                        <h2 class="mb-4">Компания «Особняк»</h2>
                        <p>Эксперт в области частного малоэтажного строительства. С 2017 года мы занимаемся
                            проектированием и строительством домов постоянного (круглогодичного) и сезонного проживания,
                            а также нежилых зданий и сооружений различного назначения: бани, крытые и открытые террасы,
                            бассейны, хозяйственные постройки, гаражи, беседки.<br/> <br/>Мы ценим Ваше время и
                            предлагаем для Вашего комфорта весь спектр услуг, от проектирования до сдачи объекта «под
                            ключ» и оформления прав на недвижимое имущество.<br/> <br/>
                            Строим из дерева, по традиционным и современным технологиям: ручная рубка домов из брёвен (в
                            чашу, в лапу, в крюк; канадская рубка, лафет), строительство из профилированного бруса (с
                            остатком, в 4хсторонний ветрозащитный замок; рубка в «тёплый угол»), строительство каркасных
                            и щитовых домов.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text">
                                    <p><span>Адрес:</span> ​Проспект Карла Маркса, 24а, 7 офис, 2 этаж</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text">
                                    <p><span>Телефон:</span> <a href="tel://+79537735577">+7(953)773-55-77</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text">
                                    <p><span>Email:</span> <a
                                            href="mailto:sk-osobnyak@yandex.ru">sk-osobnyak@yandex.ru</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text">
                                    <p><span>Website</span> <a href="https://osobnyak.su">osobnyak.su</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--
                                                <div class="col-md-7">
                                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                                        <h3 class="mb-4">Напишите нам</h3>
                                                        <div id="form-message-warning" class="mb-4"></div>
                                                        <div id="form-message-success" class="mb-4">
                                                            Ваше сообщение было отправлено!
                                                        </div>
                                                        <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="label" for="name">Ваше имя</label>
                                                                        <input type="text" class="form-control" name="name" id="name"
                                                                               placeholder="Ваше имя">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="label" for="email">Email</label>
                                                                        <input type="email" class="form-control" name="email" id="email"
                                                                               placeholder="Email">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="label" for="#">Сообщение</label>
                                                                        <textarea name="message" class="form-control" id="message" cols="30"
                                                                                  rows="8" placeholder="Сообщение"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <input type="submit" value="Отправить" class="btn btn-primary">
                                                                        <div class="submitting"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                        -->
                        <div class="col-md-6">
                            <h2>Офис</h2>
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa9df4cdf49e70d4b450a591f402d062281cd8b897f34ec4f4c1094c4433ec026&amp;source=constructor"
                                    width="500" height="400" frameborder="0"></iframe>
                        </div>
                        <div class="col-md-6">
                            <h2>Производство</h2>
                            <iframe src="https://yandex.ru/map-widget/v1/?ll=82.984502%2C54.868520&mode=whatshere&whatshere%5Bpoint%5D=82.979997%2C54.867689&whatshere%5Bzoom%5D=17&z=16"
                                    width="500" height="400" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
