{% extends 'base.html' %}

{% block 'content' %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_1.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Проекты <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-0 bread">Проекты</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-md-0">
        <h2 class='mt-5 dflex align-items-center justify-content-center text-center'>Наши проекты</h2>
        <div class="row no-gutters">
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-1.jpg);">
                    <a href="static/images/work-1.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>Баня МЖК 2этажа</span>
                            <h2><a href="work-single.html">Двухэтажная баня с жилыми помещениями круглогодичной
                                эксплуатации из профилированного бруса (кедр, толщина стены 160мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-2.jpg);">
                    <a href="static/images/work-2.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>Дом МСК обл</span>
                            <h2><a href="work-single.html">Одноэтажный жилой дом для постоянного круглогодичного
                                проживания из профилированного бруса (сосна, толщина стены 190мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-3.jpg);">
                    <a href="static/images/work-3.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>Пос. Близкий ДОМ 2 этажа</span>
                            <h2><a href="work-single.html">1ый этап строительства двухэтажного кирпичного жилого дома
                                постоянного проживания – фундамент.</a></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-4.jpg);">
                    <a href="static/images/work-4.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>Пос. Садовый ДОМ 1 этаж</span>
                            <h2><a href="work-single.html">Одноэтажный жилой дом для постоянного круглогодичного
                                проживания из профилированного бруса (сосна, толщина стены 190мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-5.jpg);">
                    <a href="static/images/work-5.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>СНТ Обские Дали БАНЯ 2 этажа</span>
                            <h2><a href="work-single.html">Двухэтажная баня (второй этаж мансардный) из профилированного
                                бруса (кедр, толщина стены 140мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="work img d-flex align-items-end" style="background-image: url(static/images/work-6.jpg);">
                    <a href="static/images/work-6.jpg"
                       class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                    <div class="desc w-100 px-4">
                        <div class="text w-100 mb-3">
                            <span>СНТ Электрон ДОМ 2 этажа</span>
                            <h2><a href="work-single.html">Двухэтажный жилой дом для постоянного круглогодичного
                                проживания из профилированного бруса (сосна, толщина стены 190мм).</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
